*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#000000 50%,lightBlue);
}
  
  
header{
    width: 100vw;
    height: 10%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: 100% 10%;
    border: 0.5em solid transparent;
    box-sizing: border-box;
    /* flex-shrink: 100; */
}

ul{
    width: 90vw;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;

}
li a{
    font-size:  1.3vw;
    font-weight: bold;
    font-family: 'Bebas Neue' sans-serif;
    color: #edf2f4;
    text-decoration: none;
    border-radius: 1em;
    flex-grow: 20;
}
    

main{
    width: 97vw;
    height: 75%;
    background-color: transparent;
    border-radius:2vh;
    display: flex;
    margin: 2vh;
    border:  1vh ridge #000000;
    box-sizing: border-box;
    /* animation: gradient-flow 5s linear 1; */

}
section{
    display: none;
}
footer{
    width: 100vw;
    height: 15%;
    background-color: transparent;
}
