*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#2D00F7,#6A00F4,#8900F2,#A100F2,#B100E8,#BC00DD,#D100D1,#DB00B6,#E500A4,#F20089);
    animation: gradient-flow 5s ease-in-out infinite;
}
  
  @keyframes gradient-flow {
    0% { background-position: 0vw 0vh; }
    50% { background-position: 100vw 100vh;  }
    75% { background-position: 0vw 100vh; }
    100%{ background-position: 100vw, 0vh;}
  }
  
header{
    width: 100vw;
    height: 10vh;
    background: linear-gradient(90deg,#2b2d42 0%, #4881e4 50%, #2b2d42 100% );
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 10%;
    border: 0.5em solid transparent;
    box-sizing: border-box;
    animation: gradient-pulse 10s ease-in-out infinite;
}

@keyframes gradient-pulse {
    0% { background-position: 0vw 50vh; }
    50% { background-position: 100vw 50vh; }
    100% { background-position: 0vw 50vh; }
  }
ul{
    width: 90vw;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;

}
li a{
    font-size:  1.3vw;
    font-weight: bold;
    font-family: 'Bebas Neue' sans-serif;
    color: #edf2f4;
    text-decoration: none;
    border-radius: 1em;
    flex-shrink: 20;
}
    

main{
    width: 97vw;
    height: 75vh;
    background:  linear-gradient(100deg,#8d99ae,#2b2d42);
    border-radius:2vh;
    display: flex;
    margin: 2vh;
    border:  1vh ridge #000000;
    box-sizing: border-box;
    /* animation: gradient-flow 5s linear 1; */

}
#new_user{
    width: 100%;
    height: 100%;
    display: flex;                                       /*  here */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#new_user_greet{
    width: 90%;
    height: 10%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Bebas Neue' sans-serif;
    color: #e5e5e5;
    background-color: red;
}
#new_consumer_details{
    width: 90%;
    height: 20%;
    position: relative;
    display: none;                                  /*  here */
    flex-direction: column;         
    flex-direction: row;
    background-color: blue;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Bebas Neue' sans-serif;
    color: #e5e5e5;
}
#new_consumer_details>ul>li{
    width: 100%;
    position: relative;
    width:max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
#new_consumer_details>ul>li>label{
    width: 100%;
    position: relative;
    @media screen and (min-width: 900px){
        font-size: 1.2rem;
        
    }
    font-weight: bold;
    font-family: 'Bebas Neue' sans-serif;
    color: #e5e5e5;
    transform: translateX(-15%);                                /*Change*/
}
#new_consumer_details>ul>li>input{
    position: relative;
    @media screen and (min-width: 930px){
        font-size: 1.1rem;
        padding: 0.2rem;
        border-radius: 0.1rem;
    }
    text-align: center;
}
#new_user_details{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: green;
}
#new_user_details>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
#new_user_details>ul>li{
    position: relative;
    width:max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (min-width: 930px){
        font-size: 1.2rem;
        
    }
}
#new_user_details>ul>li>label{
    position: relative;
    @media screen and (min-width: 930px){
        font-size: 1.2rem;
        transform: translateX(-20%);                            /*Change*/
        
    }
    z-index:1000;
    font-weight: bold;
    font-family: 'Bebas Neue' sans-serif;
    color: #e5e5e5;
}
#new_login_details{
    display: none;
    font-size:auto;
}
footer{
    width: 100vw;
    height: 12vh;
    background-color: #000000;
    box-sizing: border-box;
}

